.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: gray;
  position: fixed;
  color: black;
  padding-bottom: 10px;
}

body {
color: gray;
}

.qlinks {
color: black;
}

body {
font-family: "Roboto", serif;
}

.link {
font-family: "Open Sans", sans-serif;
}
