 /* unvisited link */
 a:link {
    color: #9b9b9b;
}
  
/* visited link */
a:visited {
    color: #9b9b9b;
}
  
/* mouse over link */
a:hover {
    color: #6e6e6e;
}
  
/* selected link */
a:active {
    color: #9b9b9b;
} 