.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: gray;
  position: fixed;
  color: black;
  padding-bottom: 10px;
}

.tomatoes {
  font-family: "Open Sans", sans-serif;
}

a.zipbutton {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

.bbodynoimg {
  padding-left: 27px;
}

body {
  font-family: "Roboto", serif;
}

.qlinks {
  color: black;
  font-size: 25px;
}

.browserbody {
  font-family: "Roboto", serif;
  background-color: #d1d1d1;
}

.welcomebody {
  font-family: "Roboto", serif;
  background-color: #d1d1d1;
}

.welcomebodyexif {
  padding-left: 27px;
}

.link {
  font-family: "Open Sans", sans-serif;
}

.privacypolicyhead {
  font-family: "Roboto", serif;
  padding-left: 27px;
}

.privacypolicy {
  font-family: "Open Sans", sans-serif;
}

.downloadbrowser {
  padding-left: 27px;
}

.downloadbrowserbody {
  background-color: #d1d1d1;
}